<main>
	<div class="main">

		<!-- ================================================== -->

		<!-- ============== Основное меню ======================== -->


		<div class="main-menu">
			<div class="wrapper">
				<div id="katalog" class="accordion">
					//= ./_menu.html
				</div>
			</div>
		</div>

		<!-- ================================================== -->

		<!-- ============== Горячие товары ======================== -->


		<div class="main-hot">
			<div class="wrapper">
				<h2 class="main-hot__heading">Горящие товары</h2>
				<ul class="main-hot__items">
					
					<li class="item__wrap">
						<div class="item" data-badge="-64%">
							<div class="item__image"><a href="#"><img src="./img/product-bag1.png" alt="Рюкзак Gin Мексиканец, бордовый"></a></div>
							<div class="item__details">
								<a href="#" class="item__title">Рюкзак Gin Мексиканец, бордовый</a>
								<div class="item__price">
									<div class="item__price__new"><b>659</b> грн</div>
									<div class="item__price__old">872 грн</div>
								</div>
								<button class="item__btn btn">связаться с продавцом</button>
								<span class="item__show-tel">+380 показать номер
								</span>
							</div>
						</div>
					</li>

					<li class="item__wrap">
						<div class="item" data-badge="-99%">
							<div class="item__image"><a href="#"><img src="./img/product-bag2.png" alt='Рюкзак GIN "Авиатор" черный'></a></div>
							<div class="item__details">
								<a href="#" class="item__title">Рюкзак GIN "Авиатор" черный</a>
								<div class="item__price">
									<div class="item__price__new"><b>730</b> грн</div>
									<div class="item__price__old">872 грн</div>
								</div>
								<button class="item__btn btn">связаться с продавцом</button>
								<span class="item__show-tel">+380 показать номер
								</span>
							</div>
						</div>
					</li>

					<li class="item__wrap">
						<div class="item" data-badge="-1%">
							<div class="item__image"><a href="#"><img src="./img/product-bag3.png" alt="Рюкзак Gin Мексиканец, бордовый"></a></div>
							<div class="item__details">
								<a href="#" class="item__title">Рюкзак Gin Мексиканец, бордовый</a>
								<div class="item__price">
									<div class="item__price__new"><b>659</b> грн</div>
									<div class="item__price__old">872 грн</div>
								</div>
								<button class="item__btn btn">связаться с продавцом</button>
								<span class="item__show-tel">+380 показать номер
								</span>
							</div>
						</div>
					</li>

					<li class="item__wrap">
						<div class="item" data-badge="-29%">
							<div class="item__image"><a href="#"><img src="./img/product-bag4.png" alt="Рюкзак Gin Мексиканец, бордовый"></a></div>
							<div class="item__details">
								<a href="#" class="item__title">Рюкзак Gin Мексиканец, бордовый</a>
								<div class="item__price">
									<div class="item__price__new"><b>659</b> грн</div>
									<div class="item__price__old">872 грн</div>
								</div>
								<button class="item__btn btn">связаться с продавцом</button>
								<span class="item__show-tel">+380 показать номер
								</span>
							</div>
						</div>
					</li>

					<li class="item__wrap">
						<div class="item" data-badge="-39%">

							<div class="item__image"><a href="#"><img src="./img/product-bag5.png" alt="Рюкзак Gin Мексиканец, бордовый"></a></div>
							<div class="item__details">
								<a href="#" class="item__title">Рюкзак Gin Мексиканец, бордовый</a>
								<div class="item__price">
									<div class="item__price__new"><b>659</b> грн</div>
									<div class="item__price__old">872 грн</div>
								</div>
								<button class="item__btn btn">связаться с продавцом</button>
								<span class="item__show-tel">+380 показать номер
								</span>
							</div>
						</div>
					</li>

				</ul>
			</div>
		</div>

		<!-- ================================================== -->

		<!-- ============== Все товары ======================== -->


		<div class="main-products">
			<div class="wrapper">

				<ul class="main-products__options">
					<li data-filter="top" class="main-products__option selected">
						<span class="main-products__option__content"><h2>Топовые товары</h2></span>
					</li>
					<li data-filter="new" class="main-products__option">
						<span class="main-products__option__content"><h2>Новинки</h2></span>
					</li>
					<li data-filter="hits" class="main-products__option">
						<span class="main-products__option__content"><h2>Хиты продаж</h2></span>
					</li>
				</ul>

				<div class="main-products__group">
					<ul class="main-products__items">
						
						<li class="item__wrap top">
							<div class="item">
								<div class="item__image"><a href="#"><img src="./img/product-bag1.png" alt="Рюкзак Gin Мексиканец, бордовый"></a></div>
								<div class="item__details">
									<a href="#" class="item__title">Рюкзак Gin Мексиканец, бордовый</a>
									<div class="item__price"><b>659</b> грн</div>
									<button class="item__btn btn">связаться с продавцом</button>
									<span class="item__show-tel">+380 показать номер
									</span>
								</div>
							</div>
						</li>

						<li class="item__wrap hits top">
							<div class="item">
								<div class="item__image"><a href="#"><img src="./img/product-bag2.png" alt='Рюкзак GIN "Авиатор" черный'></a></div>
								<div class="item__details">
									<a href="#" class="item__title">Рюкзак GIN "Авиатор" черный</a>
									<div class="item__price"><b>730</b> грн</div>
									<button class="item__btn btn">связаться с продавцом</button>
									<span class="item__show-tel">+380 показать номер
									</span>
								</div>
							</div>
						</li>
						
						<li class="item__wrap top new">
							<div class="item">
								<div class="item__image"><a href="#"><img src="./img/product-bag4.png" alt="Рюкзак Gin Мексиканец, бордовый"></a></div>
								<div class="item__details">
									<a href="#" class="item__title">Рюкзак Gin Мексиканец, бордовый</a>
									<div class="item__price"><b>659</b> грн</div>
									<button class="item__btn btn">связаться с продавцом</button>
									<span class="item__show-tel">+380 показать номер
									</span>
								</div>
							</div>
						</li>

						<li class="item__wrap top hits new">
							<div class="item">
								<div class="item__image"><a href="#"><img src="./img/product-bag5.png" alt='Рюкзак GIN "Авиатор" черный'></a></div>
								<div class="item__details">
									<a href="#" class="item__title">Рюкзак GIN "Авиатор" черный</a>
									<div class="item__price"><b>730</b> грн</div>
									<button class="item__btn btn">связаться с продавцом</button>
									<span class="item__show-tel">+380 показать номер
									</span>
								</div>
							</div>
						</li>
						
						

						<li class="item__wrap new top">
							<div class="item">
								<div class="item__image"><a href="#"><img src="./img/product-bag3.png" alt="Рюкзак Gin Мексиканец, бордовый"></a></div>
								<div class="item__details">
									<a href="#" class="item__title">Рюкзак Gin Мексиканец, бордовый</a>
									<div class="item__price"><b>659</b> грн</div>
									<button class="item__btn btn">связаться с продавцом</button>
									<span class="item__show-tel">+380 показать номер
									</span>
								</div>
							</div>
						</li>

						<li class="item__wrap top new">
							<div class="item">
								<div class="item__image"><a href="#"><img src="./img/product-bag2.png" alt="Рюкзак Gin Мексиканец, бордовый"></a></div>
								<div class="item__details">
									<a href="#" class="item__title">Рюкзак Gin Мексиканец, бордовый</a>
									<div class="item__price"><b>659</b> грн</div>
									<button class="item__btn btn">связаться с продавцом</button>
									<span class="item__show-tel">+380 показать номер
									</span>
								</div>
							</div>
						</li>

						<li class="item__wrap top new">
							<div class="item">
								<div class="item__image"><a href="#"><img src="./img/product-bag1.png" alt="Рюкзак Gin Мексиканец, бордовый"></a></div>
								<div class="item__details">
									<a href="#" class="item__title">Рюкзак Gin Мексиканец, бордовый</a>
									<div class="item__price"><b>659</b> грн</div>
									<button class="item__btn btn">связаться с продавцом</button>
									<span class="item__show-tel">+380 показать номер
									</span>
								</div>
							</div>
						</li>

						<li class="item__wrap hits new top">
							<div class="item">
								<div class="item__image"><a href="#"><img src="./img/product-bag3.png" alt="Рюкзак Gin Мексиканец, бордовый"></a></div>
								<div class="item__details">
									<a href="#" class="item__title">Рюкзак Gin Мексиканец, бордовый</a>
									<div class="item__price"><b>659</b> грн</div>
									<button class="item__btn btn">связаться с продавцом</button>
									<span class="item__show-tel">+380 показать номер
									</span>
								</div>
							</div>
						</li>

					</ul>
					
					<ul class="main-products__banner">
						<li class="item__wrap">
							<div class="item__banner1">
								<div class="product__image"><a href="#"><img src="./img/product-watch.png" alt="Hi Tech"></a></div>
								<div class="product__details">
									<h2 href="#" class="product__title">Hi Tech</h2>
									<div class="product__price">659 грн</div>
									<button class="product__btn btn">Посмотреть</button>
								</div>
							</div>
						</li>

						<li class="item__wrap">
							<div class="item__banner2">
								<div class="product__image"><a href="#"><img src="./img/product-gamepad.png" alt="Лучший  игрок"></a></div>
								<div class="product__details">
									<h2 href="#" class="product__title">Лучший <br>игрок</h2>
									<div class="product__price">Игровый  контроллеры <br>скидка 15%</div>
									<button class="product__btn btn">Посмотреть</button>
								</div>
								
							</div>
						</li>
					</ul>
				</div>

				<div class="main-products__show-more">
					<button class="main-products__show-more__btn btn">Показать еще товары</button>
				</div>

			</div>
		</div>

		<!-- ================================================== -->

		<!-- ============== Лучшие магазины ======================== -->


		<div class="main-shops">
			<div class="wrapper">
				<div class="main-shops__block">

					<div class="main-shops__block__descr">
						<h2 class="descr__heading">Лучшие магазины на 7-км</h2>
						<p class="descr__text">Если вы хотите быть в списке лучших продавцов - начните с регистрации на 7km.com.ua. Активно развивайте ваш ассортимент и качественно обслуживайте клиентов.  Мы обязательно заметим вас!</p>
						<button type="button" class="descr__btn btn">
							<span class="descr__btn__icon sprite add-to-cart">
							</span>
							Открыть магазин на сайте
						</button>
					</div>

					<div class="main-shops__block__shops">
						<div class="shops__list">
							<div class="shops__list__item" data-badge="1" data-name="Артмотив">
								<div class="item__img"><img src="./img/shop1.png" alt="Best shop"></div>
								<!-- <div class="item__name">Артмотив</div> -->
							</div>
							<div class="shops__list__item" data-badge="2" data-name="Interdolls">
								<div class="item__img"><img src="./img/shop2.png" alt="Best shop"></div>
								<!-- <div class="item__name">Interdolls</div> -->
							</div>
							<div class="shops__list__item" data-badge="3" data-name="Fioletree">
								<div class="item__img"><img src="./img/shop3.png" alt="Best shop"></div>
								<!-- <div class="item__name">Fioletree</div> -->
							</div>
							<div class="shops__list__item" data-badge="4" data-name="БОХ">
								<div class="item__img"><img src="./img/shop4.png" alt="Best shop"></div>
								<!-- <div class="item__name">БОХ</div> -->
							</div>
							<div class="shops__list__item" data-badge="5" data-name="Валяшка неваляшка">
								<div class="item__img"><img src="./img/shop5.png" alt="Best shop"></div>
								<!-- <div class="item__name">Валяшка неваляшка</div> -->
							</div>
							<div class="shops__list__item" data-badge="6" data-name="Дело БОХ мастера">
								<div class="item__img"><img src="./img/shop6.png" alt="Best shop"></div>
								<!-- <div class="item__name">Дело БОХ мастера</div> -->
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- ================================================== -->
		
		<hr>

		<!-- ============== Последние новости ======================== -->


		<div class="main-news">
			<div class="wrapper">
				<div class="main-news__heading">
					<h2 class="main-news__heading__title">Последние рыночные новости</h2>
					<a href="#" class="main-news__heading__all">Все новости<i class="main-news__heading__arrow fa fa-chevron-right"></i></a>
				</div>
				<div class="main-news__articles">
					<div class="article">
						<div class="article__img"><img src="./img/news-photo1.png" title="Детская одежда на одесском рынке" alt="Детская одежда на одесском рынке"></div>
						<div class="article__info">
							<a href="#" class="article__title">Детская одежда на одесском рынке</a>
							<span class="article__date"><i class="article__date__icon fa fa-calendar-o"></i>30.05.2016</span>
							<div class="article__text">Посетив хмельницкий рынок легко растеряться от изобилия детской одежды. Каждый родитель хочет приобрести для своего малыша самую красивую и качественную одежду. В первую очередь детская одежда должна быть удобной соответствовать гигиеническим требованиям.</div>
						</div>
					</div>
					<div class="article">
						<div class="article__img"><img src="./img/news-photo2.png" title="Лучшие ткани на жаркое лето" alt="Лучшие ткани на жаркое лето"></div>
						<div class="article__info">
							<a href="#" class="article__title">Лучшие ткани на жаркое лето</a>
							<span class="article__date"><i class="article__date__icon fa fa-calendar-o"></i>30.05.2016</span>
							<p class="article__text">Лето самое долгожданное время года. Летняя одежда должна быть не только модной, но и обладать рядом положительных свойств.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- ================================================== -->
		
		<hr>

		<!-- ============== Преимущества ================== -->


		<div class="main-benefits">
			<div class="wrapper">

				<div class="main-benefits__list">
					<div class="benefit__item">
						<img src="./img/benefit-img1.png" alt="Огромный  ассортимент" title="Огромный  ассортимент" class="benefit__item__img">
						<span class="benefit__item__text"><p>Огромный <br>ассортимент</p></span>
					</div>
					<div class="benefit__item">
						<img src="./img/benefit-img2.png" alt="Продавцы  со всего 7-км" title="Продавцы  со всего 7-км" class="benefit__item__img">
						<span class="benefit__item__text"><p>Продавцы <br>со всего 7-км</p></span>
					</div>
					<div class="benefit__item">
						<img src="./img/benefit-img3.png" alt="Выгодные цены  оптом и в розницу" title="Выгодные цены  оптом и в розницу" class="benefit__item__img">
						<span class="benefit__item__text"><p>Выгодные цены <br>оптом и в розницу</p></span>
					</div>
					<div class="benefit__item">
						<img src="./img/benefit-img4.png" alt="Проверенные  продавцы" title="Проверенные  продавцы" class="benefit__item__img"><span class="benefit__item__text"><p>Проверенные <br>продавцы</p></span>
					</div>
				</div>

			</div>
		</div>

		<!-- ================================================== -->

		<!-- ============== Карта ================== -->

		<div class="main-map">
			<button type="button" class="main-map__btn btn">
				<span class="main-map__btn__icon sprite compas "></span>Найти магазин на карте 7-км
			</button>
		</div>

		<!-- ================================================== -->

		<!-- ============== SЕО ================== -->

		<div class="main-seo">
			<div class="wrapper">
				<div class="main-seo__block">
					<div class="main-seo__info">
						<span class="main-seo__info__title">7km.com – Весь одесский рынок On-line. Одежда, обувь оптом и розницу</span>
						<p class="main-seo__info__text">Одежда оптом сегодня доступна покупателям многих торговых объектов. Если раньше владельцы магазинов вынуждены были ездить за границу, чтобы пополнить ассортимент товара, то сейчас в Украине сфера торговли развита превосходно. В частности, одной из крупнейших и популярнейших «стратегических точек» можно смело назвать хрестоматийный базар в Хмельницком, ставший самым настоящим символом города. А для тех, кто привык делать покупки через интернет, Хмельницкий рынок – это сайт AVVA.ua, делающий шопинг по-современному простым, комфортным, быстрым и приятным.</p>
					</div>
					<!-- <button class="main-seo__facebook-btn btn"><i class="main-seo__facebook-btn__icon fa fa-calendar-o"></i>Нравится</span></button> -->

					<iframe class="main-seo__facebook-btn" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fmyprofile%2F%2F&width=81&layout=button&action=like&size=small&show_faces=true&share=false&height=65&appId" width="81" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</div>
			</div>
		</div>



		<!-- ================================================== -->
	</div>
</main>