<footer class="footer">
	<div class="wrapper">
		<div class="footer-block">

			<div class="footer-block__main">
				<h2 class="footer-block__main__title">Седьмой Километр</h2>
				<div class="footer-block__main__copy">
					<span class="copyright">© 2016 7km.com <br>All rights reserved.</span>
					<a href="#" class="socials"><i class="socials__icon fa fa-facebook"></i></a>
				</div>
				<div class="footer-block__main__developer">
					<span class="footer-block__main__developer__name">Разработка сайта —</span>
					<a href="#" class="footer-block__main__developer__logo"><img src="./img/dev-logo.png" alt="BEINWEB" title="BEINWEB"></a>
				</div>
			</div>

			<div class="footer-block__wrap">
				<div class="footer-block__info">
					<ul class="footer-block__info__list">
						<li class="list-item"><a href="#">О компании</a></li>
						<li class="list-item"><a href="#">Платные услуги</a></li>
						<li class="list-item"><a href="#">Реклама на сайте</a></li>
						<li class="list-item"><a href="#">Служба поддержки</a></li>
					</ul>
					<ul class="footer-block__info__list">
						<li class="list-item"><a href="#">Инструкция</a></li>
						<li class="list-item"><a href="#">Как покупать</a></li>
						<li class="list-item"><a href="#">Как зарегистрировать магазин</a></li>
						<li class="list-item"><a href="#">Карта рынка</a></li>
						<li class="list-item"><a href="#">Как оплатить заказ</a></li>
					</ul>
				</div>
				
				<div class="footer-block__subs">
					<span class="footer-block__subs__header">Подпишитесь, и получайте информацию <br>о скидках и новинках:</span>
					<div class="footer-block__subs__form">
						<form method="post" action="php/subscribe.php" name="subscribeform" id="subscribeform">
							<span class="form-input__icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
							<input class="form-input" name="email" type="email" id="subemail" placeholder="Введите ваш email">
							<button class="form-btn btn" type="submit" value="Submit">Подписаться</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</footer>

