<header>
	<div class="header">
		<div class="header-bg"></div>
		<div class="header-top">
			<div class="header-top__wrap wrapper">
				<a href="#" class="header-top__logo">
					<h2 class="header-top__logo__title">Седьмой Километр</h2>
					<span class="header-top__logo__subtitle">Весь 7-км в одном месте</span>
				</a>

				<div class="header-top__devider"></div>
				
				<div class="header-top__exchange exchange">
					<div class="exchange__title">
						<div class="exchange__title__header">Курс 7-км:</div>
						<div class="exchange__title__date">25.09.2015</div>
					</div>
					<div class="exchange__block">
						<form>
							<input type="radio" id="currency-one" name="selector" checked>
							<label for="currency-one">USD</label>
							<input type="radio" id="currency-two" name="selector">
							<label for="currency-two">EUR</label>
							<input type="radio" id="currency-three" name="selector">
							<label for="currency-three">RUR</label>
						</form>
						<div class="exchange__block__values">
							<span class="low">24.9149</span>
							<span class="high">25.5149</span>
						</div>
					</div>
				</div>
				
				<div class="header-top__devider"></div>
				
				<div class="header-top__phone">
					<span class="header-top__phone__icon fa-stack pull-left">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-phone fa-stack-1x"></i>
					</span>
					<a class="header-top__phone__number tooltip-phones" data-tooltip-content=".tooltip__phones__list" href="tel:+0800800110">0 800 800 110
						<i class="header-top__phone__arrow fa fa-angle-down" aria-hidden="true"></i>
					</a>
					<br>
					<a class="header-top__phone__message" href="#">Написать сообщение</a>
				</div>
				<div class="header-top__profile">
					<div class="header-top__profile__block tooltip__profile__menu logged" data-tooltip-content=".tooltip__profile__menu__list">
						<a href="#" class="header-top__profile__photo" data-badge="45"><img src="./img/profile-photo.png" alt="Your photo"></a>
						<span class="header-top__profile__name">Евгений<i class="header-top__profile__arrow fa fa-angle-down"></i>
						</span>
					</div>
					<div class="header-top__profile__enter md-trigger">
						<span class="header-top__profile__enter__icon">
							<i class="fa fa-user-circle-o"></i>
						</span>
						<span class="header-top__profile__enter__text">Войти</span>
					</div>
					<button class="header-top__profile__search">
						<span class="header-top__profile__search__icon fa-stack">
							<i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa fa-search fa-stack-1x"></i>
						</span>
					</button>
					<button type="button" class="header-top__profile__btn btn">
						<span class="header-top__profile__icon sprite add-to-cart">
							<!-- <i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa fa-cart-plus fa-stack-1x"></i> -->
						</span>
						Добавить товар
					</button>
					<button type="button" class="header-top__profile__btn__min btn min-menu-trigger">
						<span class="header-top__profile__icon__min">
							<i class="fa fa-bars"></i>
						</span>
					</button>
				</div>
			</div>
		</div>
		<div class="header-banner">
			
			<div class="wrapper">
				<div class="header-banner__content">
					<span class="header-banner__suptitle">Покупайте потребительские товары от 7-км безопасно.</span>
					<h1 class="header-banner__title">Весь 7-км в одном месте!</h1>
					<div class="header-banner__search-block">
						<button class="catalog-btn btn tooltip-menu" data-tooltip-content="#tooltip-menu">
							Каталог товаров
							<i class="catalog-btn__arrow fa fa-angle-down"></i>
						</button>
						<div class="inputs">
							<div class="inputs__goods-search">
								<span class="inputs__goods-search__icon fa-stack pull-left">
									<i class="fa fa-circle-thin fa-stack-2x"></i>
									<i class="fa fa-search fa-stack-1x"></i>
								</span>
								<input type="search" placeholder="Поиск товаров или контейнеров">
							</div>
							<div class="inputs__map-search">
								<i class="inputs__map-search__icon fa fa-map-marker pull-left" aria-hidden="true" ></i>
								<input type="search" placeholder="Искать по карте" id="map-search-input">
							</div>
						</div>
						<button class="search-btn btn">Найти!</button>
					</div>
					<div class="header-banner__advantages">
						<div class="item">
							<a href="#" class="item__title">Аренда контейнеров</a>
							<p class="item__text">Нужен контейнер для продаж?</br>
								У нас более 100 контейнеров 
								сейчас сдаются
							</p>
						</div>
						<div class="item">
							<a href="#" class="item__title">Обьявления людей</a>
							<p class="item__text">Хочешь быстро продают и легко купить?
								Все объявления Одессы и 7-км
							</p>
						</div>
						<div class="item">
							<a href="#" class="item__title">Рыночные новости</a>
							<p class="item__text">Хочешь быстро продают и легко купить?
								Все объявления Одессы и 7-км
							</p>
						</div>
						<div class="item">
							<a href="#" class="item__title">Продавцы</a>
							<p class="item__text">Продавцы со всего 7-км в </br>
							одном месте</div>
						</p>
					</div>
					<div class="header-banner__footer">
						<a href="#">О компании</a>
						<a href="#">Платные услуги</a>
						<a href="#">Реклама на сайте</a>
						<a href="#">Обратная связь</a>
						<span class="footnote">У нас на сайте 14 589 товаров и зарегистрировано 341 магазинов</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tooltip_template">
		<div id="tooltip-menu" class="accordion">
			//= ./_menu.html
		</div>

		<div class="tooltip__phones__list">
			<ul>
				<li class="tooltip__phones__list__item"><a href="tel:+0800800111">0 800 800 111</a></li>
				<li class="tooltip__phones__list__item"><a href="tel:+0800800112">0 800 800 112</a></li>
				<li class="tooltip__phones__list__item"><a href="tel:+0800800113">0 800 800 113</a></li>
			</ul>
		</div>

		<div class="tooltip__profile__menu__list">
			<ul>
				<li class="tooltip__profile__menu__list__item">
					<a href="#">Настройки <span class="number"></span></a>
				</li>
				<li class="tooltip__profile__menu__list__item">
					<a href="#">Сообщения - <span class="number">3 </span></a>
				</li>
				<li class="tooltip__profile__menu__list__item">
					<a href="#">Заказы - <span class="number">45 </span></a>
				</li>
				<li class="tooltip__profile__menu__list__item">
					<a href="#">Товары </a><span class="number"></span>
				</li>
			</ul>
			<button class="tooltip__profile__menu__list__btn btn">Добавить товар</button>
		</div>
	</div>

</header>