
<div class="accordion__item">
	<div class='sprite shoes'></div>
	<span class="accordion__item__text">Одежда, обувь, аксессуары</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#">Женская Одежда
			</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#">Мужская Одежда
			</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#">Детская одежда
			</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#">Жн Обувь
			</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#">Мж Обувь
			</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#">Дет Обувь
			</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#">Аксессуары</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>
<div class="accordion__item">
	<div class='sprite heart'></div>
	<span class="accordion__item__text">Красота и здоровье</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Красота и здоровье</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Minima sint, non.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Veniam, inventore, numquam!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Doloremque laboriosam, corrupti!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Fugiat, eligendi veritatis!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">At et ducimus.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>
<div class="accordion__item">
	<div class='sprite pet'></div>
	<span class="accordion__item__text">Домашние животные</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Домашние животные</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Quibusdam, eveniet, ea.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Eaque, nam, nemo!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Repellat, distinctio vero.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Velit, ipsa, dolorem.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Earum, quas sint!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>




<div class="accordion__item">
	<div class='sprite umbrella'></div>
	<span class="accordion__item__text">Все для отпуска</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Все для отпуска</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Modi, doloribus labore!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Reiciendis architecto, cumque.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Reprehenderit, dolor itaque!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Veritatis, error, suscipit.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Natus, error, qui?</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>
<div class="accordion__item">
	<div class='sprite football'></div>
	<span class="accordion__item__text">Спорт и отдых</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Спорт и отдых</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Alias, quisquam. Ullam!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Temporibus, porro, labore.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Illum iure, ex.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Ipsam, a, dolore.</a></li></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>
<div class="accordion__item">
	<div class='sprite watch'></div>
	<span class="accordion__item__text">Украшения и часы</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Украшения и часы</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Voluptatum, quos, iure!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Tenetur totam, at.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Suscipit, laboriosam! Optio.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>




<div class="accordion__item">
	<div class='sprite moped'></div>
	<span class="accordion__item__text">Авто-, мото</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Авто-, мото</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Ducimus, amet, maxime!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Asperiores reprehenderit, dolorem.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>
<div class="accordion__item">
	<div class='sprite baby'></div>
	<span class="accordion__item__text">Товары для детей</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Товары для детей</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Sapiente, fugiat, rem.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Veritatis, consectetur, architecto?</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Optio, repudiandae ullam.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Dolorum molestiae, cumque?</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Enim error, cupiditate.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Minima, nulla, inventore!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>
<div class="accordion__item">
	<div class='sprite ring'></div>
	<span class="accordion__item__text">Свадебные товары</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Свадебные товары</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Quibusdam, ipsa rerum!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Animi culpa, ab.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Fuga, dolores, incidunt.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Quia qui, porro.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>




<div class="accordion__item">
	<div class='sprite repaint'></div>
	<span class="accordion__item__text">Материалы для ремонта</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Материалы для ремонта</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Itaque, unde delectus!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>
<div class="accordion__item">
	<div class='sprite gift'></div>
	<span class="accordion__item__text">Подарки, хобби, книги</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Подарки, хобби, книги</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Eaque vel, dolor.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Quos unde, sit.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Aperiam, mollitia, quo.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Veniam, deserunt, temporibus!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Nulla doloribus, odio.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>
<div class="accordion__item">
	<div class='sprite wrench'></div>
	<span class="accordion__item__text">Инструмент</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Инструмент</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Quo, laborum, quam.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Explicabo, unde, laudantium!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Natus sit, recusandae.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Sed, ea. Nulla.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Beatae, eligendi distinctio.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Magnam, eaque, aliquid.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Sed, accusantium voluptatibus!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>




<div class="accordion__item">
	<div class='sprite laptop'></div>
	<span class="accordion__item__text">Техника и электроника</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Техника и электроника</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Minus, molestiae, veniam.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Molestias, beatae suscipit.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Doloremque tempore, cupiditate.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Quo, mollitia, porro?</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>
<div class="accordion__item">
	<div class='sprite garden'></div>
	<span class="accordion__item__text">Дом и сад</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Дом и сад</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Dignissimos, qui, maiores.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Maiores, optio, sequi.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>
<div class="accordion__item">
	<div class='sprite build'></div>
	<span class="accordion__item__text">Строительство</span>
	<i class="accordion__item__arrow fa fa-chevron-down"></i>
	<div class="accordion__submenu">
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Строительство</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Voluptate, reprehenderit. Eius.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Magnam, laboriosam, sequi.</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="">Eos, possimus, sapiente!</a></li>
			<li><i class="fa-li fa fa-chevron-right"></i><a href="#"><b>Смотреть все объявления</b></a></li>
		</ul>
	</div>
</div>